// Margin Bottom

.u-mb-15 {
  margin-bottom: rem(15);
}
.u-mb-sm {
  margin-bottom: rem(20);
}
.u-mb-30 {
  margin-bottom: rem(30);
}
.u-mb-md {
  margin-bottom: rem(40);
}
.u-mb-lg {
  margin-bottom: rem(60);
}
.u-mb-xl {
  margin-bottom: rem(80);
}

// Margin Top

.u-mt-15 {
  margin-top: rem(15);
}
.u-mt-sm {
  margin-top: rem(20);
}
.u-mt-30 {
  margin-top: rem(30);
}
.u-mt-md {
  margin-top: rem(40);
}
.u-mt-lg {
  margin-top: rem(60);
}
.u-mt-xl {
  margin-top: rem(80);
}

.u-center {
  text-align: center;
}

.u-no-padding {
  padding: 0;
}
