.icon {
  &--tick {
    width: rem(16);
    height: rem(16);
    margin-right: rem(25);
  }
  &--cross {
    fill: $color-gray;
  }

  &--checkmark {
    width: rem(16);
    fill: $color-primary;
  }

  &--social {
    width: rem(26);
    height: rem(26);
    fill: $color-white;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
